.git
.gitignore
.DS_Store
.env
server-config.yaml
deploy/config.yaml
install/config.yaml
deploy/**/.env
deploy/**/config.yaml
deploy/private
deploy/mnt
deploy/**/mnt
deploy/certs
worker/.build
frontend/node_modules
frontend/dist
frontend/public/vendor
.pnpm-store
bin
